In [1]:
! pip install topsis-gurkirat-102303256

Collecting topsis-gurkirat-102303256
  Downloading topsis_gurkirat_102303256-1.1.1-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from topsis-gurkirat-102303256) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from topsis-gurkirat-102303256) (2.0.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (from topsis-gurkirat-102303256) (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl->topsis-gurkirat-102303256) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->topsis-gurkirat-102303256) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->topsis-gurkirat-102303256) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->topsis-gurkirat-102303256) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->topsis-gurkirat-102303256) (1.17.0)
Downloading topsis_gurkirat_102303256-1.1.1-py3-none-any.whl (4.5 kB)
Installing collected packages: topsis-gurkirat-102303256
Successfully installed topsis-gurkirat-102303256-1.1.1

In [6]:
import pandas as pd
import subprocess as sb

input_file = "topsis_dataset.csv"
weights = "0.2,0.15,0.15,0.2,0.15,0.15"
impacts = "-,+,+,+,-,+"
output_file = "result.csv"

print(f"Running TOPSIS on {input_file}...")
!topsis {input_file} {weights} {impacts} {output_file}


try:
    results = pd.read_csv(output_file)
    print("\n Execution Successful! Here are your rankings:")
    display(results.sort_values(by="Rank"))
except:
    print("\n Output file not found. Check if 'data.xlsx' exists in the sidebar.")

Running TOPSIS on topsis_dataset.csv...

--- TOPSIS RESULTS (Score & Rank) ---
 Topsis Score  Rank
     0.430121     5
     0.628407     1
     0.387453     6
     0.517720     2
     0.491573     4
     0.496643     3
-------------------------------------

Success: Results saved to result.csv

âœ… Execution Successful! Here are your rankings:

,Alternative,Cost,Quality,DeliveryTime,Durability,Service,EnergyEfficiency,Topsis Score,Rank
1,A2,200,6,7,7,7,7,0.628407,1
3,A4,275,7,6,8,8,7,0.517720,2
5,A6,260,8,5,8,9,8,0.496643,3
4,A5,225,9,3,9,8,9,0.491573,4
0,A1,250,7,5,8,8,6,0.430121,5
2,A3,300,8,4,9,9,8,0.387453,6